%form{ :action => "/api/telephony_account/#{@ta.id}", :method => 'POST' }
  %input{ :type => 'hidden', :name => '_method', :value => 'put' }
  %input{ :type => 'text', :name => 'number', :value => @ta.number }
  %textarea{ :name => 'response' }
    #{@ta.response}
  %input{ :type => 'submit', :class => 'btn btn-default', :value => 'update telephony account'}
/ %form{ :action => "/api/telephony_account/#{@ta.id}/keyword/#{@kw.id}", :method => 'POST' }
/   %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
/   %input{ :type => 'submit', :class => 'btn btn-default', :value => 'delete keyword'}
