%form{ :action => "/api/telephony_account/#{@ta.id}/subscriber", :method => 'POST' }
  %input{ :type => 'text', :name => 'from_number' }
  %input{ :type => 'submit', :class => 'btn btn-default' }

%ul
  - @telephony_account_subscribers.each do |subscriber|
    %li
      #{subscriber.from_number}
